{% extends 'main.html' %}

{% block content %}

{% load static %}

<style>
    .container {
        margin: 5px auto;
        padding: 5px;
        color: #0c0c0c;
        font-family: Verdana, Geneva, sans-serif;
    }
    table, th, td {
        border: 1px solid rgb(76, 12, 194);
        border-collapse: collapse;
        color: black;
    }
</style>

<main> 
    <div class="container">     
            <a class="backButton" href="{% url 'students' %}"><i class="fa fa-angle-left" style="font-size:48px;color:red"></i></a>            
            
            <form class="form"  method="POST" enctype="multipart/form-data">

                {% csrf_token %}
                
                {% for field in form %}
                <!-- Input:Text -->
                <div class="form__field">
                    <label for="formInput#text">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}

                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
             
            </form>      
    </div>

</main>


{% endblock content %}