{% extends 'main.html' %}

{% block content %}


    <div class="container">
         <br>

            <a class="backButton" href="{% url 'students' %}"><i class="fa fa-angle-left" style="font-size:48px;color:red"></i></a>
           
            <form class="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <!-- Input:Text -->
                <div class="form__field">
                    <label for="formInput#text">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
    </div>
 



{% endblock %}
